.game{
    width: 600px;

    height: 200px;

    margin: auto;
    border-bottom: 1px solid black;
    margin: auto;
}
#dino{
    height: 50px;
    width: 50px;
    background-image: url(dino.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
    left: 20px;
    
}
#cactus{
    height: 50px;
    width: 50px;
    background-image: url(cactus.png);
    background-size: 50px 50px;
    position: relative;
    top: 100px;
    left:570px; 
    animation:cactusMov 1s infinite linear;
}

@keyframes cactusMov{
    0%{
        left: 570px;
    }
    100%{
        left:-20px;
    }
}
.jump{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{
    top: 150px;
    left: 20px;
    }
    30%{
        top: 130px;
        left:20px
    }
    50%{
        top:80px;
        left:20px;
    }
    80%{
        top:130px ;
        left: 20px;
    }
    100%{
        top: 150px;
    left: 20px;
    }
}

